
.navbar{
    background-color: #240670;  
}

a{
    color: white;    
}

.quem-somos{
    background-color: #000;
    color: white;    
}

.bg-footer{
    background-color: #000;
    color: white; 
}

